.Donate
  .Donate__title
    return
  .billing
    .billing__box
      .return__title
        リターン①
      .return__price.billing__return
        寄付金額：
        = @project.return_price_1
        円
      .return__content.billing__return
        = @project.return_title_1
    
  .billing
    .billing__box
      .return__title
        リターン②
      .return__price.billing__return
        寄付金額：
        = @project.return_price_2
        円
      .return__content.billing__return
        = @project.return_title_2
    
  .billing
    .billing__box       
      .return__title
        リターン③
      .return__price.billing__return
        寄付金額：
        = @project.return_price_3
        円
      .return__content.billing__return
        = @project.return_title_3

    %table.Form 
      = form_with model: [@project, @billing], local: true do |f|
        %tr
        %th.Form__table リターン①
        %th.Form__btn   
          = @project.return_price_1
          円 ✖︎
          = f.number_field :count_1, class: 'Form__count'
          円 寄付する
        %tr
        %th.Form__table リターン②
        %th.Form__btn   
          = @project.return_price_2
          円 ✖︎
          = f.number_field :count_2, class: 'Form__count'
          円 寄付する
        %tr
        %th.Form__table リターン③
        %th.Form__btn   
          = @project.return_price_3
          円 ✖︎
          = f.number_field :count_3, class: 'Form__count'
          円 寄付する
        %tr
        %th= f.submit "SEND",class:"kifu"
        %th
    